.market {
  text-align: left;
  width: 94%;
  margin: 3%;
}

.category {
  width: 94%;
  margin: 0 3%;
  display: flex;
  justify-content: left;
}
.category button {
  padding: 0;
  border: 0;
  background-color: white;
}
.category button :hover {
  color: black;
}
.category .category_detail {
  margin: 10px 30px;
  color: gray;
  padding: 0px;
}
.category_detail {
  padding: 0 20px 0 0;
}
.goods {
  border-top: 2px solid lightgray;

  justify-content: space-around;
}
.nft_list {
  padding: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.NFTs {
  display: flex;
  margin: 30px 10px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
