
.nft__content{
    justify-content: space-around;
    align-items: center;
}
.nft__Info--wrapper {
    display: block;
    border: 0px;
    border-color: black;
    border-radius: 20px;
    background-color: whitesmoke;
    text-align: center;
}
.nft__nft_image{
    margin: 5px 0;

}
.nft__nft_image img{
    margin: 0;
    padding: 0;
    width: 320px;
    height: auto;

}
.parts{
    margin: 5px;
    display: flex;
    width: 320px;
    height: 480px;
    border: 3px;
    border-color: black;
    border-radius: 20px;
    background-color: whitesmoke;
    text-align: center;

    
}
.trending_top_number{
    width: 100%;
    margin-bottom: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    align-items: center;
}


