.NFT{
    margin: 3%;
    width: 95%;
    display: block;
    align-items: center;
    justify-content: space-around;

}
.nft__content{
    justify-content: space-around;
    align-items: center;
}
.nft__Info--wrapper {
    display: block;
    border: 0px;
    border-color: black;
    border-radius: 20px;
    background-color: whitesmoke;
    text-align: center;
}
.nft__nft_image{
    margin: 5px 0;

}
.nft__nft_image img{
    margin: 0;
    padding: 0;
    width: auto;
    height: 250px;

}
