* {
    color: black;
}
ul a{
    color: black;
}
h1, h2, h3, h4, h5, h6, a{
    color: black;
}
.header{ 
    position: sticky;
    top: 0;
    color: black;
}
.header h3{
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
i:hover{
    color:rgb(167, 218, 252)
}
.nav{ 
    margin: 0px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
}
.nav__siteName{
    font-family: Helvetica;
    font-size: 30px;
    padding: 10px;
    font-style: bold;

}
.nav__logo{
    height: 40px;
    width: 40px;
}
.nav__CI{
    
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav__menu{
    padding: 0px 20px;
    display: flex;
    list-style: none;
    text-align: center;

}
.nav__menu a,ul{
    padding: 5px 10px;
    border-radius: 5px;
}

.nav__menu :hover{
    background-color: rgb(167, 218, 252);
    color:rgb(255, 255, 255)

}

.nav__icons{
    list-style: none;
    display: flex;
    font-size: 20px;
}
.nav__icons li{
    padding: 8px 12px;
    
}