body{
    font-family: Helvetica;
    background-color:rgb(255, 255, 255);
    margin: 0;
    color: black;
    }
.hide{
    display: none;
}
.gray{
    color: rgb(105, 105, 105);
}
.header{ 
    position: sticky;
    top: 0;
}
.header h3{
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
i:hover{
    color:rgb(167, 218, 252)
}
.nav{ 
    margin: 0px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
}
.nav__siteName{
    font-family: Helvetica;
    font-size: 30px;
    padding: 10px;
    font-style: bold;

}
.nav__logo{
    height: 40px;
    width: 40px;
}
.nav__CI{
    
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.text_input{
    padding: 0;
    margin: 0;
    width: 560px;
    height: 38px;
    font-size: 18px;
    border-radius: 30px;
    border-color: lightgrey;
}
.nav__menu{
    padding: 0px 20px;
    display: flex;
    list-style: none;
    text-align: center;

}
.nav__menu a,ul{
    padding: 5px 10px;
    border-radius: 5px;
}

.nav__menu :hover{
    background-color: rgb(167, 218, 252);
    color:rgb(255, 255, 255)

}

a{
    font-family: Helvetica;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav__icons{
    list-style: none;
    display: flex;
    font-size: 20px;
}
.nav__icons li{
    padding: 8px 12px;
    
}
.body img{
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mypage img{
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide{
    margin: 0px;
    padding: 1px 0px;
    width: auto;
    height: 550px;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
h2{
    margin: 0px;
    padding: 0px 0px 0px 20px;
}
.trending_top{
    background-color: whitesmoke;

    justify-content: space-between;
    display: flex;
    align-items: center;

}
.trending_top_menu{
    height: 40px;
    margin: 0px;
    background-color: whitesmoke;
    display: flex;
    list-style: none;
}
.trending_top_number a{
    color: rgb(89, 89, 89);
}
h3{
    padding: 0px 0px 0px 20px;
}
h6{
    margin: 0;
}
h5{
    width: 500px;
    height: 40px;
    margin: 0px;
    padding: 0 1.5% 0 5.5%;
    display: flex;
    list-style: none;
    text-align: center;
    color: darkgray;
    align-items: center;
}
.toggle{
    display: flex;

}
.select{
    display: flex;
    padding: 0px 20px 0px 0px;

}
.select_1{
    margin: 5px;
    border: 3px;
    border-radius: 10px;
    border-color: darkgrey;
}
i{
    padding: 5px;
}
.trending_top_number{
    display: flex;
     margin: 0px;
}
.trending_top_number img{
    width: 40px;
    height: 40px;
}
.trending_top_number_a{
    color: darkgray;
    display: block;
    padding: 0 10px 0 0;
    width: 50%;
    text-align:left;
}
.trending_top_number_a a{
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color: whitesmoke;
    height: 30px;
    align-items: center;
    border-radius: 10px;
}
.trending_top_number_b{
    color: darkgray;
    display: block;
    padding: 0 0 0 10px;
    width: 50%;
    text-align:left;

}
.trending_top_number_b a{
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color: whitesmoke;
    height: 30px;
    align-items: center;
    border-radius: 10px;
}

h4{
    margin: 0;
    padding-left: 20px;
    width: 40px;
}
.notable_collections{
    display: flex;
    align-items: center;
}
.notable_collections_1{
    margin: 5px;
    display: block;
    width: 320px;
    height: 180px;
    border: 3px;
    border-color: black;
    border-radius: 20px;
    background-color: whitesmoke;
    text-align: center;


}
.food_NFTs_spotlight{
    display: flex;
    align-items: center;

}
.food_NFTs_spotlight_1{
    margin: 5px;
    display: block;
    width: 320px;
    height: 180px;
    border: 3px;
    border-color: black;
    border-radius: 20px;
    background-color: whitesmoke;
    text-align: center;
}
.NFT_101{
    display: flex;
    align-items: center;

}
.NFT_101_1{
    margin: 5px;
    display: block;
    width: 320px;
    height: 180px;
    border: 3px;
    border-color: black;
    border-radius: 20px;
    background-color: whitesmoke;
    text-align: center;
}

.browse_by_category{
    display: flex;
    align-items: center;

}
.browse_by_category_1{
    margin: 5px;
    display: block;
    width: 33.33%;
    height: 280px;
    border: 3px;
    border-color: black;
    border-radius: 20px;
    background-color: whitesmoke;
    text-align: center;
}
.footer{
    display: block;
    width: auto;
    padding: 30px;
    background-color: lightblue;
}
.stay_in_the_loop{
    display: flex;
    margin: 0px;
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.opensea{
    display: flex;
    align-items: center;

}
footer h3 h4 h5 {
    background-color: lightblue;
    text-decoration: none;
}
.footer_menu{
    display: block;
}

.Mint{
    margin: auto;
    padding: 0px;
    width: 560px;
    height: auto;
    display: flex;
}
.Mint .container{
    
    justify-content: space-between;
    text-align: left;
    align-items: center;
}
.Mint h3, h4, h5, h6{
    margin: 0;
    padding: 20px 0px 10px 0px;

}
.Mint h1{
    margin-bottom: 0px;
    font-size: 40px;
}

.image_preview{
    width: 400px;
    height: 200px;
    border: 3px solid rgb(185, 185, 185);
    border-radius: 40px;
}
.fa-image{
    padding: 12% 36%;
    color: rgb(185, 185, 185);
    font-size: 100px;

}
.fa-image :hover{
    color: rgb(255, 255, 255);
    background-color: rgb(185, 185, 185);
}

.discription{
    height: 100px;

}
.add__create_button h3{
    padding: 15px 30px;

}
.add__create_button {
    margin: 50px 0px;
    padding: 0;
    border: 0px;
    border-radius: 10px;
    background-color:rgb(204, 231, 249) ;
}
.add__create_button :hover{
    border: 0px;
    border-radius: 10px;
    background-color:rgb(167, 218, 252);
    color: white;
}
.user_image img{
    position: absolute;
    top: 400px;
    left: 50px;
    width: 250px;
    height: 250px;
    text-shadow: 10px;
    border: 5px solid white;
    border-radius: 250px;
}
.wallet_address{
    padding: 0;
    margin: 10px;
    width: 100px;
    display: flex;
    text-align: left;

}
.wallet_address i, h5{
    height: 15px;
    padding: 0px 0px 0px 10px;
    text-align: center;
    align-items: center;
}
.user_info h1{
    margin: 20px 0px 0px 20px;
    text-align: left;
}
.user_menu{
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid lightgray;
}
.user_menu select{
    margin: 0 0 0 20px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 20px;
    text-align: center;
}
.user_menu h2{
    color: gray;
}
.display{
    margin: 20px 20px 100px 20px;

}
.display .NFT_101 .NFT_101_1{
    margin: 10px;
}